@use "global";
/////////////////////////////COLORS
//blue: #2c7dfa

/////////////////////////////VARIABLES
$oneP4: 1.4em;
$oneP6: 1.6em;

//////////////////////////////EXTENDS
%container-settings {
  width: 90%;
  padding: 0 0 2em 0;
  margin: auto;
}
%middle-div {
  display: flex;
  align-items: center;
  width: 80%;
  margin: auto;
  margin-top: 2em;
  //   image
  img {
    flex: 1;
    padding: 2em;
  }
  // text side
  .txt-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1.2em;
    // background-color: beige;
    #p1 {
      font-size: 1.6em;
      font-weight: 600;
    }
    #p2,
    i {
      font-size: 90%;
    }
    button {
      width: 15em;
      padding: 0.8em 0;
      color: #fff;
      font-weight: 600;
      border-radius: 2em;
      margin-top: 2%;
      background-color: #000;
    }
  }
}

/////////////////////////////MIXIN
@mixin card-behind($ca, $cb) {
  content: "";
  width: 24.4em;
  height: 1em;
  margin: -3.4em 0 0em -1.5em;
  border-radius: 0.5em;
  z-index: -1;
  background: linear-gradient(to right, $ca, $cb);
}
@mixin how-to-sample {
  margin-bottom: 4em;
  @extend %container-settings;
  // header
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #p1 {
      font-size: 2em;
      font-weight: 600;
      padding: 1em 0;
    }
  }
  //   main
  main {
    display: flex;
    justify-content: center;
    column-gap: 1em;
    margin-top: 4em;
    // cards
    .card {
      display: flex;
      flex-direction: column;
      row-gap: 1em;
      padding: 3em 2em;
      border-radius: 0.5em;
      width: 25em;
      border: 1.4px solid rgba(128, 128, 128, 0.571);
      background-color: white;
      //   icon
      i {
        margin: 1em 0 0.5em 0;
      }
      //   paragraph
      :nth-child(2) {
        font-weight: 600;
      }
    } //   card 1
    .c1 {
      //   before
      &::before {
        @include card-behind(#3c46fe, #f0f0f100);
      }
    }
    .c2 {
      //   before
      &::before {
        @include card-behind(#fb27ff, #f0f0f100);
      }
    }
    .c3 {
      //   before
      &::before {
        @include card-behind(#27f0fe, #f0f0f100);
      }
    }
  }
}
/////////////////////////////BACKGROUNDS
.container {
  .center-cont {
    width: 100%;
  }
  // background
  .content-bg1 {
    background: url(https://imgv3.fotor.com/images/background/background-picture.jpeg)
      no-repeat;
    background-size: 110em;
  }
  .content-bg2 {
    // width: 96%;
    background: linear-gradient(to right, #b1aff5, #f6f6fe) no-repeat;
  }
  .content-bg4 {
    // width: 96%;
    background: linear-gradient(to right, #fff7ff, #feb4ff) no-repeat;
  }
}
/////////////////////////////CONTENT
.container-s1 {
  @extend %container-settings;
  // header
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    div {
      display: flex;
      align-items: center;
      padding: 1em 0;
      column-gap: 2em;
    }
    // nav
    .nav {
      display: flex;
      //   paragraphs
      p {
        padding: 0 $oneP6;
        // icons
        i {
          margin-left: 0.4em;
          font-size: 0.8em;
        }
      }
    }
    // sign
    .sign {
      display: flex;
      column-gap: 0;
      //   paragraphs
      p {
        padding: 0 $oneP6;
      }
      //   last child
      :last-child {
        background-color: #2c7dfa;
        padding: 0.6em 1em;
        color: white;
        border-radius: 4em;
      }
    }
  }
  //   main
  main {
    .main-div {
      display: flex;
      margin-top: 1em;
      column-gap: 8em;

      // text container
      .middle-div {
        flex: 2;
        display: flex;
        flex-direction: column;
        padding: 4em 0 0 0;
        row-gap: 2%;
        font-size: 80%;
        // paragraph
        #p1 {
          font-size: 3.5em;
          font-weight: 600;
        }
        #p2 {
          font-weight: 600;
          margin-top: 1em;
        }
        button {
          width: 14em;
          margin-top: 2em;
          padding: 1em;
          font-size: 1.2em;
          border-radius: 2em;
          font-weight: 600;
          border: none;
          color: #fff;
          background-color: #2c7dfa;
        }
      }
      // image
      img {
        flex: 1;
      }
    }
  }
  //   footer
  footer {
    p {
      font-weight: 600;
      margin-bottom: 1em;
    }
    .foo-div {
      display: flex;
      column-gap: 1em;
      margin: 0 auto;
      // items
      .items {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 1em;
        padding: 1.8em 2.2%;
        background-color: #e7f0ff;
        border-radius: 0.4em;
        // i's and p's
        i,
        p {
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}
.container-s2 {
  display: flex;
  align-items: center;
  @extend %container-settings;
  //   middle division
  .middle-div {
    @extend %middle-div;
  }
}
.container-s3 {
  display: flex;
  align-items: center;
  @extend %container-settings;
  //   middle division
  .middle-div {
    flex-direction: row-reverse;
    @extend %middle-div;
  }
}
.container-s4 {
  margin-bottom: 4em;
  @extend %container-settings;
  //   middle division
  .middle-div {
    @extend %middle-div;
  }
}
.ht1 {
  @include how-to-sample();
}
.ht2 {
  @include how-to-sample();
  //   main
  main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 3em auto auto auto;
    width: 90%;
    // button
    button {
      //align-self: center;
      margin: auto;
      padding: 1em 3.4em;
      width: 14em;
      color: #fff;
      font-size: 1.4em;
      font-weight: 600;
      border-radius: 2em;
      background-color: #000;
    }
    .l-cards {
      display: flex;
      column-gap: 1em;
      // div
      .l-card {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2.6em;
        column-gap: 1em;
        margin: 3.6em auto auto auto;
        position: relative;
        cursor: pointer;
        // paragraph class
        div {
          position: absolute;
          bottom: 0;
          width: 12.94em;
          padding: 1em 1.2em;
          border-radius: 0 0 0.4em 0.4em;
          backdrop-filter: blur(8px) saturate(160%);
          background-color: rgba(65, 65, 65, 0.4);
          z-index: 1;
          // p
          p {
            font-size: 1.2em;
            font-weight: 600;
            color: white;
            text-shadow: 0 0 10px #e5e5e560;
          }
        }

        // link images
        img {
          width: 100%;
          border-radius: 0.4em;
          box-shadow: 0 0 10px -5px black;
        }
      }
    }
  }
}
//FAQS
.ht2 {
  @extend %container-settings;
  .fq {
    border-bottom: 1px solid rgba(0, 0, 0, 0.289);
    // faqs
    .faqs {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: auto;
      padding: 2em 0 1em 0;
      cursor: pointer;
      // background-color: #2c7dfa;
      // p's
      .q-M {
        margin-bottom: 1em;
        font-weight: 600;
      }
      // i's
      i {
        cursor: pointer;
      }
    }
    // resp
    .r-M {
      display: none;
      width: 94%;
      margin: 0 auto 1em auto;
    }
  }
}
//LOVE FOTOR
.ht3 {
  // header
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #p1 {
      font-size: 2em;
      font-weight: 600;
      padding: 1em 0;
    }
  }
  // main
  main {
    .testimonials {
      background-image: url(https://rb.gy/wo6c9);
      #wdt {
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 2em;
        height: 40em;
        // box 1
        .bx-1 {
          display: grid;
          grid-template-rows: 2fr 0.5fr 0.1fr;
          height: 30em;
          width: 27%;
          padding: 3em 3.4em;
          font-weight: 500;
          border-radius: 0.8em;
          border: 1px solid #d0d2d7;
          backdrop-filter: blur(30px) saturate(180%);
          background-color: rgba(255, 255, 255, 0.422);
          // profile
          .profile {
            display: flex;
            padding: 1em 0 1em 0;
            // image
            img {
              width: 4.4em;
              height: 4.4em;
              border-radius: 50%;
            }
            // div
            div {
              display: flex;
              flex-direction: column;
              padding-left: 1em;
              width: 50%;
              // second paragraph
              p {
                &:first-child {
                  font-weight: 600;
                }
                &:nth-child(2) {
                  padding-top: 0.4em;
                  color: #858585;
                }
              }
            }
          }
          // ratings
          .ratings {
            font-size: 1em;
            color: yellow;
            padding: 1em 0 1em 0;
          }
        }
      }
    }
  }
}
//FOOTER
.page-footer {
  background-color: #000000e7;
  // content
  .foo-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "fotor company support platforms"
      ". products resource .";
    gap: 6em 1em;
    padding: 6em;
    width: 90%;
    margin: auto;
    // image
    img {
      width: 10em;
    }
    // fotor
    .fotor {
      grid-area: fotor;
    }
    // company
    .company {
      grid-area: company;
    }
    // support
    .support {
      grid-area: support;
    }
    // platforms
    .platforms {
      grid-area: platforms;
    }
    // products
    .products {
      grid-area: products;
    }
    // resource
    .resource {
      grid-area: resource;
    }
    // text styling
    .txt-style {
      h3 {
        font-size: 1.2em;
        font-weight: 600;
        color: #fff;
      }
      p,
      ul,
      li a {
        font-size: 1em;
        padding-top: 1em;
        text-decoration: none;
        color: #ffffff96;
        font-weight: 500;
      }
      ul li a {
        transition: 0.2s ease-out;
        // on hover
        &:hover {
          color: #0961e4;
        }
      }
      p {
        color: #fff;
      }
      li {
        padding: 0.4em 0;
      }
      // icons
      .icn {
        margin-top: 2em;
        i {
          cursor: pointer;
          transition: all 0.2s;
          color: #fff;
          &::before {
            padding-right: 0.4em;
          }
          &:hover {
            color: #0961e4;
          }
        }
      }
      // languages
      .lang {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #7e7e7e33;
        width: 60%;
        margin-top: 2em;
        border-radius: 0.4em;
        cursor: pointer;
        transition: all 0.2s;
        // p's
        p,
        i {
          padding: 0.6em 0.8em;
          color: #8a8a8ac2;
          font-weight: 600;
          font-size: 1.2em;
        }
        &:hover {
          background-color: #fff;
          p,
          i {
            color: #000000ad;
          }
        }
      }
      .rel-list {
        position: relative;
        // list lang
        .lang-list {
          display: none;
          border-radius: 0.4em;
          width: 80%;
          position: absolute;
          top: -18em;
          left: 12.2em;
          padding-bottom: 1em;
          background-color: white;
          p {
            color: #0000009c;
            font-size: 1.2em;
            font-weight: 600;
            padding-left: 1em;
            &:nth-child(1) {
              margin-top: 0.8em;
              padding-top: 0;
            }
            &:nth-child(2) {
              padding-top: 0;
              font-size: 1em;
              font-weight: 600;
              color: #8d8d8d;
            }
          }
          .french,
          .italian,
          .spanish,
          .german {
            cursor: pointer;
            &:hover {
              p {
                color: #3d20fcaa;
                background-color: #00000017;
              }
            }
          }
        }
      }
    }
  }
  // ul lists
  ul {
    list-style: none;
  }
}
