* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0.94rem;
}

body {
  font-family: Poppins, helvetica, arial;
}
body .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1440px;
  margin: auto;
}

.ht2, .ht1, .container-s4, .container-s3, .container-s2, .container-s1 {
  width: 90%;
  padding: 0 0 2em 0;
  margin: auto;
}

.container-s4 .middle-div, .container-s3 .middle-div, .container-s2 .middle-div {
  display: flex;
  align-items: center;
  width: 80%;
  margin: auto;
  margin-top: 2em;
}
.container-s4 .middle-div img, .container-s3 .middle-div img, .container-s2 .middle-div img {
  flex: 1;
  padding: 2em;
}
.container-s4 .middle-div .txt-side, .container-s3 .middle-div .txt-side, .container-s2 .middle-div .txt-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1.2em;
}
.container-s4 .middle-div .txt-side #p1, .container-s3 .middle-div .txt-side #p1, .container-s2 .middle-div .txt-side #p1 {
  font-size: 1.6em;
  font-weight: 600;
}
.container-s4 .middle-div .txt-side #p2, .container-s3 .middle-div .txt-side #p2, .container-s2 .middle-div .txt-side #p2,
.container-s4 .middle-div .txt-side i,
.container-s3 .middle-div .txt-side i,
.container-s2 .middle-div .txt-side i {
  font-size: 90%;
}
.container-s4 .middle-div .txt-side button, .container-s3 .middle-div .txt-side button, .container-s2 .middle-div .txt-side button {
  width: 15em;
  padding: 0.8em 0;
  color: #fff;
  font-weight: 600;
  border-radius: 2em;
  margin-top: 2%;
  background-color: #000;
}

.container .center-cont {
  width: 100%;
}
.container .content-bg1 {
  background: url(https://imgv3.fotor.com/images/background/background-picture.jpeg) no-repeat;
  background-size: 110em;
}
.container .content-bg2 {
  background: linear-gradient(to right, #b1aff5, #f6f6fe) no-repeat;
}
.container .content-bg4 {
  background: linear-gradient(to right, #fff7ff, #feb4ff) no-repeat;
}

.container-s1 header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}
.container-s1 header div {
  display: flex;
  align-items: center;
  padding: 1em 0;
  -moz-column-gap: 2em;
       column-gap: 2em;
}
.container-s1 header .nav {
  display: flex;
}
.container-s1 header .nav p {
  padding: 0 1.6em;
}
.container-s1 header .nav p i {
  margin-left: 0.4em;
  font-size: 0.8em;
}
.container-s1 header .sign {
  display: flex;
  -moz-column-gap: 0;
       column-gap: 0;
}
.container-s1 header .sign p {
  padding: 0 1.6em;
}
.container-s1 header .sign :last-child {
  background-color: #2c7dfa;
  padding: 0.6em 1em;
  color: white;
  border-radius: 4em;
}
.container-s1 main .main-div {
  display: flex;
  margin-top: 1em;
  -moz-column-gap: 8em;
       column-gap: 8em;
}
.container-s1 main .main-div .middle-div {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding: 4em 0 0 0;
  row-gap: 2%;
  font-size: 80%;
}
.container-s1 main .main-div .middle-div #p1 {
  font-size: 3.5em;
  font-weight: 600;
}
.container-s1 main .main-div .middle-div #p2 {
  font-weight: 600;
  margin-top: 1em;
}
.container-s1 main .main-div .middle-div button {
  width: 14em;
  margin-top: 2em;
  padding: 1em;
  font-size: 1.2em;
  border-radius: 2em;
  font-weight: 600;
  border: none;
  color: #fff;
  background-color: #2c7dfa;
}
.container-s1 main .main-div img {
  flex: 1;
}
.container-s1 footer p {
  font-weight: 600;
  margin-bottom: 1em;
}
.container-s1 footer .foo-div {
  display: flex;
  -moz-column-gap: 1em;
       column-gap: 1em;
  margin: 0 auto;
}
.container-s1 footer .foo-div .items {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 1em;
       column-gap: 1em;
  padding: 1.8em 2.2%;
  background-color: #e7f0ff;
  border-radius: 0.4em;
}
.container-s1 footer .foo-div .items i,
.container-s1 footer .foo-div .items p {
  margin: 0;
  padding: 0;
}

.container-s2 {
  display: flex;
  align-items: center;
}
.container-s3 {
  display: flex;
  align-items: center;
}
.container-s3 .middle-div {
  flex-direction: row-reverse;
}

.container-s4 {
  margin-bottom: 4em;
}
.ht1 {
  margin-bottom: 4em;
}
.ht1 header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ht1 header #p1 {
  font-size: 2em;
  font-weight: 600;
  padding: 1em 0;
}
.ht1 main {
  display: flex;
  justify-content: center;
  -moz-column-gap: 1em;
       column-gap: 1em;
  margin-top: 4em;
}
.ht1 main .card {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  padding: 3em 2em;
  border-radius: 0.5em;
  width: 25em;
  border: 1.4px solid rgba(128, 128, 128, 0.571);
  background-color: white;
}
.ht1 main .card i {
  margin: 1em 0 0.5em 0;
}
.ht1 main .card :nth-child(2) {
  font-weight: 600;
}
.ht1 main .c1::before {
  content: "";
  width: 24.4em;
  height: 1em;
  margin: -3.4em 0 0em -1.5em;
  border-radius: 0.5em;
  z-index: -1;
  background: linear-gradient(to right, #3c46fe, rgba(240, 240, 241, 0));
}
.ht1 main .c2::before {
  content: "";
  width: 24.4em;
  height: 1em;
  margin: -3.4em 0 0em -1.5em;
  border-radius: 0.5em;
  z-index: -1;
  background: linear-gradient(to right, #fb27ff, rgba(240, 240, 241, 0));
}
.ht1 main .c3::before {
  content: "";
  width: 24.4em;
  height: 1em;
  margin: -3.4em 0 0em -1.5em;
  border-radius: 0.5em;
  z-index: -1;
  background: linear-gradient(to right, #27f0fe, rgba(240, 240, 241, 0));
}

.ht2 {
  margin-bottom: 4em;
}
.ht2 header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ht2 header #p1 {
  font-size: 2em;
  font-weight: 600;
  padding: 1em 0;
}
.ht2 main {
  display: flex;
  justify-content: center;
  -moz-column-gap: 1em;
       column-gap: 1em;
  margin-top: 4em;
}
.ht2 main .card {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  padding: 3em 2em;
  border-radius: 0.5em;
  width: 25em;
  border: 1.4px solid rgba(128, 128, 128, 0.571);
  background-color: white;
}
.ht2 main .card i {
  margin: 1em 0 0.5em 0;
}
.ht2 main .card :nth-child(2) {
  font-weight: 600;
}
.ht2 main .c1::before {
  content: "";
  width: 24.4em;
  height: 1em;
  margin: -3.4em 0 0em -1.5em;
  border-radius: 0.5em;
  z-index: -1;
  background: linear-gradient(to right, #3c46fe, rgba(240, 240, 241, 0));
}
.ht2 main .c2::before {
  content: "";
  width: 24.4em;
  height: 1em;
  margin: -3.4em 0 0em -1.5em;
  border-radius: 0.5em;
  z-index: -1;
  background: linear-gradient(to right, #fb27ff, rgba(240, 240, 241, 0));
}
.ht2 main .c3::before {
  content: "";
  width: 24.4em;
  height: 1em;
  margin: -3.4em 0 0em -1.5em;
  border-radius: 0.5em;
  z-index: -1;
  background: linear-gradient(to right, #27f0fe, rgba(240, 240, 241, 0));
}
.ht2 main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 3em auto auto auto;
  width: 90%;
}
.ht2 main button {
  margin: auto;
  padding: 1em 3.4em;
  width: 14em;
  color: #fff;
  font-size: 1.4em;
  font-weight: 600;
  border-radius: 2em;
  background-color: #000;
}
.ht2 main .l-cards {
  display: flex;
  -moz-column-gap: 1em;
       column-gap: 1em;
}
.ht2 main .l-cards .l-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.6em;
  -moz-column-gap: 1em;
       column-gap: 1em;
  margin: 3.6em auto auto auto;
  position: relative;
  cursor: pointer;
}
.ht2 main .l-cards .l-card div {
  position: absolute;
  bottom: 0;
  width: 12.94em;
  padding: 1em 1.2em;
  border-radius: 0 0 0.4em 0.4em;
  -webkit-backdrop-filter: blur(8px) saturate(160%);
          backdrop-filter: blur(8px) saturate(160%);
  background-color: rgba(65, 65, 65, 0.4);
  z-index: 1;
}
.ht2 main .l-cards .l-card div p {
  font-size: 1.2em;
  font-weight: 600;
  color: white;
  text-shadow: 0 0 10px rgba(229, 229, 229, 0.3764705882);
}
.ht2 main .l-cards .l-card img {
  width: 100%;
  border-radius: 0.4em;
  box-shadow: 0 0 10px -5px black;
}

.ht2 .fq {
  border-bottom: 1px solid rgba(0, 0, 0, 0.289);
}
.ht2 .fq .faqs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 2em 0 1em 0;
  cursor: pointer;
}
.ht2 .fq .faqs .q-M {
  margin-bottom: 1em;
  font-weight: 600;
}
.ht2 .fq .faqs i {
  cursor: pointer;
}
.ht2 .fq .r-M {
  display: none;
  width: 94%;
  margin: 0 auto 1em auto;
}

.ht3 header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ht3 header #p1 {
  font-size: 2em;
  font-weight: 600;
  padding: 1em 0;
}
.ht3 main .testimonials {
  background-image: url(https://rb.gy/wo6c9);
}
.ht3 main .testimonials #wdt {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 2em;
       column-gap: 2em;
  height: 40em;
}
.ht3 main .testimonials #wdt .bx-1 {
  display: grid;
  grid-template-rows: 2fr 0.5fr 0.1fr;
  height: 30em;
  width: 27%;
  padding: 3em 3.4em;
  font-weight: 500;
  border-radius: 0.8em;
  border: 1px solid #d0d2d7;
  -webkit-backdrop-filter: blur(30px) saturate(180%);
          backdrop-filter: blur(30px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.422);
}
.ht3 main .testimonials #wdt .bx-1 .profile {
  display: flex;
  padding: 1em 0 1em 0;
}
.ht3 main .testimonials #wdt .bx-1 .profile img {
  width: 4.4em;
  height: 4.4em;
  border-radius: 50%;
}
.ht3 main .testimonials #wdt .bx-1 .profile div {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  width: 50%;
}
.ht3 main .testimonials #wdt .bx-1 .profile div p:first-child {
  font-weight: 600;
}
.ht3 main .testimonials #wdt .bx-1 .profile div p:nth-child(2) {
  padding-top: 0.4em;
  color: #858585;
}
.ht3 main .testimonials #wdt .bx-1 .ratings {
  font-size: 1em;
  color: yellow;
  padding: 1em 0 1em 0;
}

.page-footer {
  background-color: rgba(0, 0, 0, 0.9058823529);
}
.page-footer .foo-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "fotor company support platforms" ". products resource .";
  gap: 6em 1em;
  padding: 6em;
  width: 90%;
  margin: auto;
}
.page-footer .foo-content img {
  width: 10em;
}
.page-footer .foo-content .fotor {
  grid-area: fotor;
}
.page-footer .foo-content .company {
  grid-area: company;
}
.page-footer .foo-content .support {
  grid-area: support;
}
.page-footer .foo-content .platforms {
  grid-area: platforms;
}
.page-footer .foo-content .products {
  grid-area: products;
}
.page-footer .foo-content .resource {
  grid-area: resource;
}
.page-footer .foo-content .txt-style h3 {
  font-size: 1.2em;
  font-weight: 600;
  color: #fff;
}
.page-footer .foo-content .txt-style p,
.page-footer .foo-content .txt-style ul,
.page-footer .foo-content .txt-style li a {
  font-size: 1em;
  padding-top: 1em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5882352941);
  font-weight: 500;
}
.page-footer .foo-content .txt-style ul li a {
  transition: 0.2s ease-out;
}
.page-footer .foo-content .txt-style ul li a:hover {
  color: #0961e4;
}
.page-footer .foo-content .txt-style p {
  color: #fff;
}
.page-footer .foo-content .txt-style li {
  padding: 0.4em 0;
}
.page-footer .foo-content .txt-style .icn {
  margin-top: 2em;
}
.page-footer .foo-content .txt-style .icn i {
  cursor: pointer;
  transition: all 0.2s;
  color: #fff;
}
.page-footer .foo-content .txt-style .icn i::before {
  padding-right: 0.4em;
}
.page-footer .foo-content .txt-style .icn i:hover {
  color: #0961e4;
}
.page-footer .foo-content .txt-style .lang {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(126, 126, 126, 0.2);
  width: 60%;
  margin-top: 2em;
  border-radius: 0.4em;
  cursor: pointer;
  transition: all 0.2s;
}
.page-footer .foo-content .txt-style .lang p,
.page-footer .foo-content .txt-style .lang i {
  padding: 0.6em 0.8em;
  color: rgba(138, 138, 138, 0.7607843137);
  font-weight: 600;
  font-size: 1.2em;
}
.page-footer .foo-content .txt-style .lang:hover {
  background-color: #fff;
}
.page-footer .foo-content .txt-style .lang:hover p,
.page-footer .foo-content .txt-style .lang:hover i {
  color: rgba(0, 0, 0, 0.6784313725);
}
.page-footer .foo-content .txt-style .rel-list {
  position: relative;
}
.page-footer .foo-content .txt-style .rel-list .lang-list {
  display: none;
  border-radius: 0.4em;
  width: 80%;
  position: absolute;
  top: -18em;
  left: 12.2em;
  padding-bottom: 1em;
  background-color: white;
}
.page-footer .foo-content .txt-style .rel-list .lang-list p {
  color: rgba(0, 0, 0, 0.6117647059);
  font-size: 1.2em;
  font-weight: 600;
  padding-left: 1em;
}
.page-footer .foo-content .txt-style .rel-list .lang-list p:nth-child(1) {
  margin-top: 0.8em;
  padding-top: 0;
}
.page-footer .foo-content .txt-style .rel-list .lang-list p:nth-child(2) {
  padding-top: 0;
  font-size: 1em;
  font-weight: 600;
  color: #8d8d8d;
}
.page-footer .foo-content .txt-style .rel-list .lang-list .french,
.page-footer .foo-content .txt-style .rel-list .lang-list .italian,
.page-footer .foo-content .txt-style .rel-list .lang-list .spanish,
.page-footer .foo-content .txt-style .rel-list .lang-list .german {
  cursor: pointer;
}
.page-footer .foo-content .txt-style .rel-list .lang-list .french:hover p,
.page-footer .foo-content .txt-style .rel-list .lang-list .italian:hover p,
.page-footer .foo-content .txt-style .rel-list .lang-list .spanish:hover p,
.page-footer .foo-content .txt-style .rel-list .lang-list .german:hover p {
  color: rgba(61, 32, 252, 0.6666666667);
  background-color: rgba(0, 0, 0, 0.0901960784);
}
.page-footer ul {
  list-style: none;
}